<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<a href="places/new">Add one of your favorite Chicago spots!</a>

<p></p>
<p></p>

<ul>

  <% @places.each do |place| %>
    <li>
      <%= link_to place.title, "/places/#{place.id}" %>
      <a href="/places/<%= place.id %>/delete">(delete)</a>
    </li>
  <% end %>

</ul>