<a href="/places">Go Back</a>
<p></p>
<p></p>

<form action="/places/create">
Title:<br>
<input type="text" name="title">
<br>
Image URL:<br>
<input type="text" name="url">
<br>
Price (in cents):<br>
<input type="text" name="price">
<br>
Description:<br>
<input type="text" name="description">
<br><br>
<input type="submit" value="Create">
</form>